{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskboard: Создание нового проекта</title>
    <link rel="stylesheet" href="{% static 'css/style_item.css' %}"/>
    <link rel="icon" href="{% static 'icons/R-blue.png' %}" type="image/x-icon" width="16" height="16">
  </head>

  <body>
    {% include 'include/_header.html' %}
    <!-- MAIN -->
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR - START -->
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-none d-md-block bg-light taskboard_sidebar collapse">
          <div class="position-sticky taskboard_sidebar-sticky">
            
            {% include 'include/_sidebar.html' %}         

            <ul class="list-unstyled fw-normal pb-2 small">
              <li><a href="#" class="bd-links-link d-inline-block rounded active" aria-current="page"
                  title="Основные данные задачи">Основные данные</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- SIDEBAR - END -->
        
          <main class="col-md-9 col-lg-10 px-md-2 taskboard_content">
            <form action="{% url 'add_project' %}" method="post">
              {% csrf_token %}
              {{ form.media }}          
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-1 border-bottom">
                <h1 class="h5">Новый проект</h1>
                <div class="btn-toolbar mb-1">
                  <button type="submit" class="btn btn-sm btn-outline-primary" id="save_new_form">Записать</button>
                </div>
              </div>
              <!-- ФОРМА ЗАПОЛНЕНИЯ РЕКВИЗИТОВ ЗАДАЧИ  -->
              <div class="mb-2">
                <label for="{{ form.title.id_for_label }}" class="form-label">Наименование</label>
                {{ form.title }}
              </div>
              <div class="mb-2">
                <label for="{{ form.description.id_for_label }}" class="form-label">Описание</label>
                {{ form.description }}
              </div>
              <div class="mb-2">
                <label for="{{ form.workspace.id_for_label }}" class="form-label">Рабочее пространство</label>
                {{ form.workspace }}
              </div>
              <div class="mb-2">
                <label for="{{ form.department.id_for_label }}" class="form-label">Подразделение</label>
                {{ form.department }}
                {% if form.department.errors %}
                {% for error in form.department.errors %}
                <div class="taskboard_invalid-feedback">
                  {{ error }}
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </form>
        </main>        
      </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
  </body>
</html>
