{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taskboard: Список задач</title>
    <link rel="stylesheet" href="{% static 'css/style_list.css' %}"/>
    <link rel="icon" href="{% static 'icons/R-blue.png' %}" type="image/x-icon" width="16" height="16">
  </head>

  <body>

    {% include 'include/_header.html' %}

    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR - START -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-none d-md-block bg-light taskboard_sidebar collapse">
          <div class="position-sticky taskboard_sidebar-sticky">

            <h6 class="taskboard_sidebar-heading d-flex justify-content-start align-items-center px-2 mt-3 mb-1 text-muted text-uppercase">
              <i class="bi bi-filter-square" style="font-size: 1rem;"></i>
              <span class="taskboard_sidebar_heading">Фильтры</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
              </a>
            </h6>

            <ul class="nav flex-column mb-0">
              
              <li class="nav-item" id="id_selection_workspace">
                {{ selection.workspace }}
              </li>

              <li class="nav-item">
                {{ selection.department }}
              </li>

              <li class="nav-item">
                {{ selection.status }}
              </li>

              <li class="nav-item">
                {{ selection.owner }}
              </li>

              <li class="nav-item">
                {{ selection.executor }}
              </li>

              <li class="nav-item">
                {{ selection.project }}
              </li>

            </ul>

            <div class="flex-column mb-0">
              <button type="button" class="btn btn-sm btn-outline-primary taskboard_sidebar_select" id="id_apply_selection">Применить</button>
            </div>

            <h6 class="sidebar-heading d-flex justify-content-start align-items-center px-2 mt-4 mb-1 text-muted text-uppercase">
              <i class="bi bi-check-square" style="font-size: 1rem;"></i>
              <span class="taskboard_sidebar_heading">Быстрые отборы</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle" class="align-text-bottom"></span>
              </a>
            </h6>

            <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <div class="form-check taskboard_sidebar_check">
                  <input class="form-check-input" type="checkbox" id="flexCheck_1" onchange="get_check_1(this.id, this.checked? this.value : 'off')">
                  <label class="form-check-label" for="flexCheck_1">
                    Мои задачи
                  </label>
                </div>
              </li>

              <li class="nav-item">
                <div class="form-check taskboard_sidebar_check">
                  <input class="form-check-input" type="checkbox" id="flexCheck_2" onchange="get_check_2(this.id, this.checked? this.value : 'off')">
                  <label class="form-check-label" for="flexCheck_2">
                    Задачи к выполнению
                  </label>
                </div>
              </li>

              <li class="nav-item">
                <div class="form-check taskboard_sidebar_check">
                  <input class="form-check-input" type="checkbox" id="flexCheck_3" onchange="get_check_3(this.id, this.checked? this.value : 'off')">
                  <label class="form-check-label" for="flexCheck_3">
                    Участие в задачах
                  </label>
                </div>
              </li>

            </ul>

          </div>
        </nav>
        <!-- SIDEBAR - END -->

        <main class="col-md-9 col-lg-10 px-md-2 taskboard_content">
          
          <div class="taskboard_btn_group">
            <h1 class="h4">Задачи</h1>
            <div class="btn-toolbar md-0 taskboard_btn_toolbar">
              <a class="btn btn-sm btn-outline-primary me-2" href="{% url 'add_task' %}" role="button" >Создать задачу</a>
              <div class="btn-group">                
                <button type="button" class="btn btn-sm btn-outline-secondary active" id="id_apply_active">
                  Активные
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" id="id_apply_completed">
                  Завершенные
                </button>                
              </div>
              <div class="dropdown ms-2 taskboard_menu_period">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="id_button_period">
                  <i class="bi bi-calendar4" style="font-size: 1rem;"></i>
                  <span data-feather="calendar" class="align-text-bottom" id="id_button_period_text">Период</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" id="id_button_week">Неделя</a></li>
                  <li><a class="dropdown-item" href="#" id="id_button_month">Месяц</a></li>
                  <li><a class="dropdown-item" href="#" id="id_button_quarter">Квартал</a></li>
                  <li><a class="dropdown-item" href="#" id="id_button_year">Год</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" id="id_button_clean_period">Без ограничений</a></li>
                </ul>
              </div>
            </div>
          </div>        
          
          {% if selection.workspace|length > 1 %}
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Наименование</th>
                  <th scope="col">Состояние</th>
                  <th scope="col">Автор</th>
                  <th scope="col" class="table_row">Исполнитель</th>
                  <th scope="col" class="table_row">Создана</th>
                  <th scope="col" class="table_row">Проект</th>
                  <th scope="col" class="table_row">РП</th>
                  <th scope="col" class="table_row">Подразделение</th>
                </tr>
              </thead>             
              <tbody id="tasks_list">
                {% for task in tasks %}
                <tr>
                  <td>
                    <a href="{{ task.url }} " title="{{task.title}}">{{ task.title|truncatewords:4|safe }}</a>
                    {% if task.new_messages > 0 %}
                    <text style="color: #712cf9">(<b>{{ task.new_messages }}</b>)</text>
                    {% endif %}
                  </td>
                  <td>{{ task.status }}</td>
                  <td>{{ task.owner }}</td>
                  <td class="table_row">{{ task.executor }}</td>
                  <td class="table_row">{{ task.created_at|date:"d.m.y" }}</td>
                  <td class="table_row" title="{{task.project}}">{{ task.project|truncatewords:3|safe }}</td>              
                  <td class="table_row">{{ task.workspace.title }}</td>
                  <td class="table_row">{{ task.department.title }}</td>
                </tr>
                {% endfor %}
              </tbody>            
            </table>
          </div>
          {% else %}
          <div class="d-flex justify-content-center pt-3">
            <span style="font-size: 1rem;">Вы не являетесь участником ни одного рабочего пространства</span>
          </div>
          {% endif %}

        </main>
      </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/task_list_form.js' %}?ver=1.1.7"></script>

  </body>
</html>
