{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Рупроект: Обсуждение задачи</title>
    <link rel="stylesheet" href="{% static 'css/style_item.css' %}?ver=1.1.6"/>
    <link rel="icon" href="{% static 'icons/R-blue.png' %}" type="image/x-icon" width="16" height="16">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" >

  </head>

  <body>
    {% include 'include/_header.html' %}
    <!-- MAIN -->
    <div class="container-fluid">
      <div class="row">
        <!-- SIDEBAR - START -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-none d-md-block bg-light taskboard_sidebar collapse">
          <div class="position-sticky sidebar-sticky"> 

            {% include 'include/_sidebar.html' %}
            
            <ul class="list-unstyled fw-normal pb-2 small">
              <li>
                <a href="{{ task_item.get_absolute_url_main }}" class="bd-links-link d-inline-block rounded"
                  title="Основные данные задачи">Основные данные</a>
              </li>
              <li>
                <a
                  href="{{ task_item.get_absolute_url_chat }}" class="bd-links-link d-inline-block rounded active"
                  aria-current="page" title="Перейти к обсуждению задачи">Обсуждение</a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- SIDEBAR - END -->

        <main class="col-md-9 col-lg-10 px-md-2 taskboard_content">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-2 border-bottom">
            <h1 class="h5">Задача: {{ task_item.title|truncatewords_html:7|safe }}</h1>
            <!-- "ЗАПИСАТЬ" ПОКАЗЫВАЕМ ТОЛЬКО НА БОЛЬШИХ ЭКРАНАХ -->
            <div class="btn-toolbar mb-1 d-none d-md-block">
              {% include 'include/task_chat/_message_button.html' with target='top' %}
            </div>
          </div>

          <!-- ПАНЕЛЬ РАЗДЕЛОВ ДЛЯ СМАРТФОНОВ -->
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-start pt-1 mb-2 d-md-none">
            <div class="btn-toolbar mb-2 mb-md-0">
              <a href="{{ task_item.get_absolute_url_main }}" class="bd-links-link-2 d-inline-block me-1 rounded" aria-current="page" title="Основные данные задачи">Основные данные</a>
              <a href="{{ task_item.get_absolute_url_chat }}" class="bd-links-link-2 d-inline-block rounded active"  title="Перейти к обсуждению задачи" >Обсуждение</a>
            </div>
            <div class="btn-toolbar mb-2 mb-md-0"> 
              {% include 'include/task_chat/_message_button.html' with target='top' %}
            </div>
          </div>

          {% include 'include/task_chat/_message_field.html' with target='top' %}

          <!-- ВЫВОДИМ СООБЩЕНИЯ -->
          <div id="dispute-list">

            {% for message in dispute %}

            <div class="d-flex align-items-srart mt-3">
              <div class="pe-2">
                <div class="card taskboard_message d-inline-block p-2 px-3 m-1"
                     {% if message.user_id == user_id %}
                     style="background-color: rgba(var(--bd-violet-rgb), 0.2);"
                     {% endif %}
                >
                  <div class="d-flex mb-1">
                    <div style="font-weight: bold">{{ message.user }}&nbsp</div>
                    <div class="d-none d-md-block" style="color: grey">{{ message.created_at }}</div>
                  </div>
                  {% if message.file %}
                  <div>
                    {% if message.IsImage %}
                     <img
                       src="{{ message.file }}"
                       class="img-thumbnail" style="max-width: 320px; max-height: 250px"
                       alt="{{ message.content }}"
                    >
                    {% else %}
                    <i class="bi bi-file-earmark" style="font-size: 1rem;"></i>
                    <a href="{{ message.file }} " title="{{message.FileName }}">{{ message.FileName }}</a>
                    {% endif %}
                    <div style="max-width: 320px"><pre>{{ message.content }}</pre></div>
                  </div>
                  {% else  %}
                  <div><pre>{{ message.content }}</pre></div>
                  {% endif  %}
                  <div class="d-md-none mt-1" style="color: grey">{{ message.created_at }}</div>
                </div>
                
                {% include 'include/task_chat/_message_button_answer.html' with target=message.id %}
                {% include 'include/task_chat/_message_field.html' with target=message.id style='mb-1 mt-2' %}

              </div>
            </div>

              {% for reply_message in message.in_reply %}
              <!-- Ответ на предыдущее письмо -->
              <div class="d-flex align-items-srart mt-2 mb-3 ms-5">
                <div class="pe-2">
                  <div class="card taskboard_message d-inline-block p-2 px-3 m-1"
                    {% if reply_message.user_id == user_id %}
                     style="background-color: rgba(var(--bd-violet-rgb), 0.2);"
                    {% endif %}
                  >
                    <div class="d-flex">
                      <div style="font-weight: bold"> {{ reply_message.user }} &nbsp</div>
                      <i
                        class="bi bi-arrow-right"
                        style="font-size: 1rem"
                      ></i>
                      <div style="font-weight: bold">&nbsp {{ reply_message.in_reply_user }} &nbsp</div>
                      <div class="d-none d-md-block" style="color: grey">{{ reply_message.created_at }}</div>
                    </div>
                    {% if reply_message.file %}
                    <div>
                      {% if reply_message.IsImage %}
                      <img
                         src="{{ reply_message.file }}"
                         class="img-thumbnail" style="max-width: 320px; max-height: 250px"
                         alt="{{ reply_message.content }}"
                      >
                      {% else %}
                      <i class="bi bi-file-earmark" style="font-size: 1rem;"></i>
                      <a href="{{ reply_message.file }} " title="{{reply_message.FileName }}">{{ reply_message.FileName }}</a>
                      {% endif %}
                      <div style="max-width: 320px"><pre>{{ reply_message.content }}</pre></div>
                    </div>
                    {% else  %}
                    <div><pre>{{ reply_message.content }}</pre></div>
                    {% endif  %}
                    <div class="d-md-none mt-1" style="color: grey">{{ reply_message.created_at }}</div>
                  </div>                  

                  {% include 'include/task_chat/_message_button_answer.html' with target=reply_message.id %}
                  {% include 'include/task_chat/_message_field.html' with target=reply_message.id style='mt-2' %}

                </div>
              </div>
              {% endfor %}

            {% endfor %}

          </div>

          {% if message_quantity > 5 %}
          <div class="d-flex justify-content-end flex-wrap flex-md-nowrap pt-1 pb-2 mb-2 border-bottom">
            <div>   
              {% include 'include/task_chat/_message_button.html' with target='bottom' %}
            </div>
          </div>         
          {% include 'include/task_chat/_message_field.html' with target='bottom' style='mb-1' %}
          {% endif %}

          {% include 'include/task_chat/_message_send_file_form.html' %}

        </main>
      </div>
    </div>   

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/task_chat.js' %}?ver=1.1.3"></script>

  </body>
</html>