<div class="taskboard_send_file_form" id="send_file_form">
    <div class="taskboard_send_file_container">
        <div class="taskboard_send_file_body" id="open_file_form">
            <p><b>Отправить файл</b></p>
            <form action="">
                <div class="taskboard_picture-background" id="picture-background">
                    <img src="" alt="" id="image_file">
                </div>
                <div class="taskboard_file-background" id="file-background">
                    <i class="bi bi-file-earmark" style="font-size: 1.2rem;"></i>
                    <span><b id="file-name"></b></span>
                </div>
                <h5><b>Добавить описание</b></h5>
                <input type="text" id="send_file_body_input" autocomplete="off">
            </form>
            <div class="taskboard_file_form_buttons">
                <button id="file_form_close"><b>Отмена</b></button>
                <button id="file_form_send"><b>Отправить</b></button>
            </div>
        </div>
    </div>
</div>